# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment
.env
.env.local
.env.*.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
